/* =============
    Hero
============= */

#hero {
    margin-top: 90px;
    display:grid;
    grid-template-columns: 40% auto;

    div{

        #hero-title-container-top{
            display: flex;
            font-size: rem-calc(42);
        }

        #hero-title-container-mid{
            display: flex;
            font-size: rem-calc(42);
        }

        #hero-title-container-bottom{
            display: flex;
            font-size: rem-calc(42);
        }
    }

    p{
        margin-top: 20px;
        color:var(--white);
        font-size: rem-calc(18)
        //border-radius: 12px;
        //padding: 10px;

    }

    

    }

    #hero-button{
        margin-top: 30px ;
    }
    
    #hero-img{
        margin-left: 20px;
    }


