/* =============
    Hero
============= */

#hero {

    section{
        #hero-title-container-bottom{
            display: flex;
        }
    }

    p{
        margin-top: 20px;
        color:var(--white);
        //border-radius: 12px;
        //padding: 10px;

    }

    

    }

    #hero-button{
        margin-top: 30px ;
    }
    
    #hero-img{
        margin-left: 20px;
    }


