/* =============
    Plans
============= */

#plans{
    //display: flex;
    margin-left: 35px;
    font-size: rem-calc(20);
            }
            

    div{
        #plans-img{
            display:flex;
            margin-left: 250px;
            display:grid;
            grid-template-columns: 40% auto;

        }
    }