/* =============
    Footer
============= */

footer{
    
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    #footer-top{
        background-color: var(--darkgreen);

        a{
            color: var(--green);
        }

    }

    #footer-bottom{
        font-family: 'Clicker Script', cursive;
        background-color: var(--black);

    }
}