/* =============
    Footer
============= */

footer{
    
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    #footer-top{
        background-color: var(--darkgreen);

    

        a{
            color: var(--green);
            display: flex;
            margin-left: 10px;
            font-size: rem-calc(16);

        }

      

        
                
            
        }

    }

    #footer-bottom{
        font-family: 'Clicker Script', cursive;
        background-color: var(--black);

    }
