/* =============
    Header
============= */

header{
    

    nav{
        ul{
            li{
                a{ background-color: rgb(136, 105, 213);

                }
                

                }

                #demo{
                    background-color: var(--blue);
                    color:var(--white);
                    padding: 8px 10px;
                    border-radius: 6px;

                }
            }
        }
    }
    
