/* =============
    Header
============= */

 header{
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 90% 8%;
    grid-template-areas: 
    "logo burger"
    "nav nav";

    #logo-container{
        display: flex;
        align-items: center;
        grid-area: logo;
    }

    #burger-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: burger;
    }
    nav{
        grid-area: nav;
 }
}