/* =============
    Base
============= */

body{
    background-color: var(--purple);
    color: white;

    main{
        display: grid;
        grid-template-columns: auto 1170px auto;
        grid-template-areas:". main-grid-item .";
        #main-grid-item{
            grid-area: main-grid-item;


        }
    }

    div{
            ul{
                li{
                    button{
                        background-color: var(--blue);
                        color:var(--white);
                        padding: 8px 10px;
                        border-radius: 6px;

                    }
                }
            }
        }
     
    }

