/* =============
    Typography
============= */


body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding:0;
    
}

p{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding:0;
}

ul{
    margin: 0;
    padding:0;
}