/* =============
    Typography
============= */

body{
    h1{ 
        font-family: 'Open Sans', sans-serif;
        font-size: rem-calc(50);
    }
    
}
h2,h3,h4,h5{
    font-family: 'Abhaya Libre', serif;
    margin: 30px;
    padding:0;
}

p{
    margin: 0px;
    padding:0;
}

ul{
    margin: 0;
    padding:0;
}